* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
    "aside header"
    "aside main";
}

header {
    grid-area: header;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
}

.timeTab {
    background-color: rgba(116, 14, 184, 0.432);
    padding: 50px 130px;
    border: 2px solid black;
    border-top: 0;
    border-bottom: 0;
    text-wrap: nowrap;
}

aside {
    grid-area: aside;
    border: 1px solid blue;
}

main {
    grid-area: main;
    border: 1px solid purple;
}

.cancelSVG {
    width: 30px;
}

.projectItem {
    margin-left: 20px;
}